!!!
%html
  %head
    %title Smashing Layout
    = stylesheets :screen
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    = javascripts('application')
  %body
    #header
      .max-width
        .min-width
          = partial("shared/header")

    #content
      .max-width
        .min-width
          .padding
            .primary.column
              = partial("shared/primary")
            .secondary.column
              = partial("shared/secondary")
    #footer
      .max-width
        .min-width
          = partial("shared/footer")