!!!
%html
  %head
    %title Smashing Layout
    = stylesheets :screen
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    = javascripts('application')
  %body
    #header
      .max_width
        .min_width
          = partial("shared/header")

    #body
      .max_width
        .min_width
          .padding
            #primary.column
              = partial("shared/primary")
            #secondary.column
              = partial("shared/secondary")
    #footer
      .max_width
        .min_width
          = partial("shared/footer")